<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hakkında</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!-- iconlar için-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/base.css}" href="/static/css/base.css">
    <link rel="stylesheet" th:href="@{css/skeleton.css}" href="/static/css/skeleton.css">
    <link rel="stylesheet" th:href="@{css/screen.css}" href="/static/css/screen.css" >
</head>
<body>

<div id="header">
    <div class="container" style="color: #000;">
        <!-- Header | Logo, Menu
            ================================================== -->
        <div class="logo"><a  href="/anasayfa"><img width="100px;" height="50px" th:src="@{images/product2.png}" src="/static/images/product2.png" alt="Görüntülenemiyor"  /></a></div>
        <div class="mainmenu">
            <div id="mainmenu">
                <ul class="sf-menu">
                    <li><a href="/anasayfa" >Home</a></li>
                    <li><a href="/kullanici">Kullanıcı</a></li>
                    <li><a href="/urunler">Urunler</a>
                    <li><a href="/musteri">Müşteri</a></li>
                    <li><a href="/satis">Fatura İşlemleri</a>
                        <ul>
                            <li><a href="/raporlar">Raporlar</a></li>
                        </ul>
                    </li>
                    <li><a href="/hakkinda" id="visited">Hakkında</a>
                    <ul>
                        <li><a href="/logout">Çıkış</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <!-- mainmenu ends here -->

            <!-- Responsive Menu -->
            <form id="responsive-menu" action="#" method="post">
                <select>
                    <option value="">Navigation</option>
                    <option value="index.html">Home</option>
                    <option value="about.html">About</option>
                    <option value="portfolio.html">Portfolio</option>
                    <option value="portfolioproject.html">Portfolio Project</option>
                    <option value="blog.html">Blog</option>
                    <option value="singleblog.html">Single Post</option>
                    <option value="features.html">Features</option>
                    <option value="contact.html">Contact</option>
                </select>
            </form>
        </div>
        <!-- mainmenu ends here -->
    </div>
    <!-- container ends here -->
</div>

<div class="infobox">
    <div class="container info">
        <header>
            <h2>Hakkımızda</h2>
            <p class="infop">Hasan Tunahan AK & Aşkın ESEN.</p>
        </header>
        <hr class="separator">
    </div>
    <!-- container ends here -->
</div>

<div class="container">
    <div class="blankSeparator"></div>
    <div class="container">
        <h3>Proje Ekibi</h3>
        <div class="team">
            <div class="one_third"> <img class="shadow" th:src="@{images/hasan.jpeg}"  src="/static/images/hasan.jpeg" alt=""/>
                <section class="teaminfo">
                    <h4>Hasan Tunahan AK</h4>
                    <ul>
                        <li>
                            <p><a href="#"><strong>Programcı</strong></a><br />
                                Website: <a href="#">www.google.com</a><br />
                                Email: <a href="contact.html">www.youtube.com</a></p>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- end one-third column ends here -->
            <div class="one_third"> <img class="shadow" th:src="@{images/askin.jpeg}"  src="/static/images/askin.jpeg" alt=""/>
                <section class="teaminfo">
                    <h4>Aşkın ESEN</h4>
                    <ul>
                        <li>
                            <p><a href="#"><strong>Programcı</strong></a><br />
                                Website: <a href="#">www.google.com</a><br />
                                Email: <a href="contact.html">www.youtube.com</a></p>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- end one-third column ends here -->
        </div>
    </div>
</div>
<hr class="separator2">
<div class="socialsblock">
    <div class="container socialize">
        <h3>Sosyal Medya Hesaplarımız</h3>
        <section class="socials">
            <ul class="socials">
                <li><a href="#"><img th:src="@{images/twitter.png}" src="/static/images/twitter.png" alt="" /></a></li>
                <li><a href="#"><img th:src="@{images/facebook.png}" src="/static/images/facebook.png" alt="" /></a></li>
                <li><a href="#"><img th:src="@{images/dribbble.png}" src="/static/images/dribbble.png" alt="" /></a></li>
                <li><a href="#"><img th:src="@{images/google+.png}" src="/static/images/google+.png" alt="" /></a></li>
                <li><a href="#"><img th:src="@{images/linkedin.png}" src="/static/images/linkedin.png" alt="" /></a></li>
                <li><a href="#"><img th:src="@{images/youtube.png}" src="/static/images/youtube.png" alt="" /></a></li>
            </ul>
        </section>
    </div>
    <!-- container ends here -->
</div>


<!--sosyal -->

<div class="footer">  <!--bitiyor en alt-->
    <div class="container">
        <div class="one_fourth">
            <h3>İletişim Bilgileri</h3>
            <p><span class="orange"><strong>Adres:</strong></span> <br>
                Gazi Üniversitesi</p>
            <p><span class="orange"><strong>Telefon:</strong></span> <br>
                3333333333<br>
            </p>
            <p><span class="orange"><strong>Email:</strong></span> <br>
                hasantunahanak@gmail.com<br>
            </p>
        </div>
        <!-- four columns ends here -->
        <!-- <div class="one_fourth">
             <h3>Blogroll</h3>
             <ul>
                 <li><a href="#" title="">Development Blog</a></li>
                 <li><a href="#" class="">New Freebies</a></li>
                 <li><a href="#" class="">Themeforest Theme</a></li>
                 <li><a href="#" class=""> Design News</a></li>
                 <li><a href="#" class="">WordPress Theme</a></li>
             </ul>
         </div>
         &lt;!&ndash; four columns ends here &ndash;&gt;
         <div class="one_fourth">
             <h3>Archive</h3>
             <ul>
                 <li><a href="#" class=""> August 2012</a></li>
                 <li><a href="#" class="">July 2012</a></li>
                 <li><a href="#" class="">Juny 2012</a></li>
                 <li><a href="#" class=""> May 2012</a></li>
                 <li><a href="#" class="">April 2012</a></li>
             </ul>
         </div>-->
        <!-- four columns ends here -->
        <div class="one_fourth lastcolumn">
            <h3>Hakkında</h3>
            <p>Stok Takip programı tasarımları burdan ulaşabiliriz.</p>
            <p> <a href="http://anarieldesign.com/" rel="nofollow">Buraya tıklayınız</a> </p>
        </div>
        <!-- four columns ends here -->
    </div>
    <!-- container ends here -->
</div>


</body>
</html>